@font-face {
    font-family: 'Pretendard';
    font-style: thin;
    font-weight: 100;
    font-display: swap;
    src: url('../src/components/assets/font/PretendardWoff2/Pretendard-Thin.woff2') format('woff2'),
        url('../src/components/assets/font/PretendardWoff/Pretendard-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: light;
    font-weight: 200;
    font-display: swap;
    src: url('../src/components/assets/font/PretendardWoff2/Pretendard-ExtraLight.woff2') format('woff2'),
        url('../src/components/assets/font/PretendardWoff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: url('../src/components/assets/font/PretendardWoff2/Pretendard-Light.woff2') format('woff2'),
        url('../src/components/assets/font/PretendardWoff/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../src/components/assets/font/PretendardWoff2/Pretendard-Regular.woff2') format('woff2'),
        url('../src/components/assets/font/PretendardWoff/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url('../src/components/assets/font/PretendardWoff2/Pretendard-Medium.woff2') format('woff2'),
        url('../src/components/assets/font/PretendardWoff/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: url('../src/components/assets/font/PretendardWoff2/Pretendard-SemiBold.woff2') format('woff2'),
        url('../src/components/assets/font/PretendardWoff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('../src/components/assets/font/PretendardWoff2/Pretendard-Bold.woff2') format('woff2'),
        url('../src/components/assets/font/PretendardWoff/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: bold;
    font-weight: 800;
    font-display: swap;
    src: url('../src/components/assets/font/PretendardWoff2/Pretendard-ExtraBold.woff2') format('woff2'),
        url('../src/components/assets/font/PretendardWoff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: bold;
    font-weight: 900;
    font-display: swap;
    src: url('../src/components/assets/font/PretendardWoff2/Pretendard-Black.woff2') format('woff2'),
        url('../src/components/assets/font/PretendardWoff/Pretendard-Black.woff') format('woff');
}

:root {
    background-color: #ebecee;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Pretendard', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen';
}

body,
html {
    margin: 0;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow: overlay;
    -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라(신) */
    -ms-text-size-adjust: none; /* IE */
    -moz-text-size-adjust: none; /* 파이어폭스 */
    -o-text-size-adjust: none; /* 오페라(구)*/
}

body::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

@media (max-width: 300px) {
    html {
        font-size: 0.65rem;
    }
}

@media (300px < width < 700px) {
    html {
        font-size: 0.7rem;
    }
}

@media (700px <= width < 1200px) {
    html {
        font-size: 0.8rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 0.9rem;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 1rem;
    }
}
